*{
    color: black;
}
.container {
    background-image: url("../Routes/images/loginbg-Copy.jpg");
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box1 {
    border-radius: 15px;
    background-color: rgb(243, 241, 236);
    display: flex;
    width: 750px;
    height: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  
  
  }

  .error-box{
    width:350px;
    height: 50px;
    background-color: white;
    position: relative;
    top:190px;
    left:-200px;
    border-radius: 5px;
    box-shadow: 0 0px 7px rgba(255, 199, 0, 1);
    text-align: center;
    opacity: 0; 
    transition: opacity 0.5s ease;
    
  }

  .error-box.show {
    display: block; 
    opacity: 1;
  }

  .error-box h2{
    color: #860000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    
  }
  
  .box1 h2 {
    color: black;
    text-transform: uppercase;
    font-weight:bold;
    text-align: center;
  }
  
  .login-form {
    border: 1px solid #ccc;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    background-color: transparent;
    padding: 25px;
    border-radius: 15px;
    border: none;
  }

  .login-form .text{
    color: #860000;
    text-transform: none;
    font-size: 25px;

  }

  .login-form h2{
    margin-bottom: 10px;
  }
  .imgbox {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 30px;
  }
  
  .logo {
    max-width: 100%;
    max-height: 100%;
    
  }
  
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    padding: 5px;
    transition: 0.54s;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: black;
    outline: none;
    font-size: 18px;
  }
  
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    font-weight: 600;
    width: 250px;
    height:40px;
    border-radius: 5px;
    position: relative;
    padding: 5px 65px;
    background-color: #ffc700 ;
    color:black;
    text-decoration: none;
    transition: background-color 0.5s;
    border: none;
    text-align: center;
    font-size: 20px;
  
  }
 /* 
  .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    opacity: 0;
    transition: opacity 0.3s;
  }

  */

  .button:hover{
    background-color: #860000;
    color: white;
  }
  
 
  
  .button:hover::after {
    opacity: 0.5;
  }
  
  