@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{  
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    color: white;

}

.n-outer-wrapper{
    width: 100%;
    background-color: #860000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height:60px;
    display:flex;
    position: fixed;
    top: 0;
    z-index: 5;

}

.n-inner-wrapper{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.n-right a{
    margin: 0 10px;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 5px;
}


.label {
    background-color: #ffc700; 
    position: absolute; 
    width: 10%;
    height:60px;
    display:flex;
    top: 0;
    left: 0;
    
  }
  .label img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 10px;
    margin-left: 10px;
  }
  

.inactive{
    transition: 0.3s all ease-out;
}

.inactive:hover{
   background-color: rgba(158, 158, 158, 0.427);

}

.active{
    background-color: white;
    color:#860000;
    
}